<!DOCTYPE html>
<html>

<head>
     <title>About me</title>
     <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"> </script>
</head>

<body>
    
     {{>header}}

    <p>This site was created by Tushar Srivastava. It uses data from mapbox and Weather stack API !</p>
    <img class="portrait" src="/images/pic1.jpg">

    <div class="main-content"></div>
    {{>footer}}
    </div>

</body>

</html>

 {{!-- about.html. Earlier version of about.hbs. --}}

 
{{!-- 
<!DOCTYPE html>
 <html>
     <head>
        <link rel="stylesheet" href="/css/styles.css">
     </head>
     <body>
         <h1>About me</h1>
         <img src="/images/robot.png">
         <script src="/js/app.js"> </script>
     </body>
 </html> --}}
